.titre_para_contact{
    text-align: center;
    width: 100%;
    padding: 0 10px 10px 10px;
    
}

.image_contact_page {    
    margin-top: 80px;
    margin-bottom: 80px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

  .picc-ctn {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .title_para_contact {
    position: absolute;
    color: white;
    text-shadow: -4px 5px 2px #000000;
    font-size: 30px;
    border: 2px solid white;
    box-shadow: 0px 0px 20px #FFFFFF;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 1px 1px 1px red;

  }

  img {
    width: 100%;
  }
  

main {
    display: flex;
    justify-content: flex-start;
}

hr {
    margin-top: 10px;
}

.contact_footer {
    display: flex;
    width: 100%;
}

.footer_form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 80px;
    width: 50%;
}

.formulaire, .zone_message {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

.footer_right {
    width: 50%;
}

.info_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    text-align: center;    
}

.infos {
    color: gray;
    border: 2px solid white;
    padding: 0 10px 0 10px;
    margin-top: 30px;
}

input[type="text"], [type="email"], [type="tel"] {
    background-color: #D5D5D5;
}

textarea[type="text"] {
    background-color: #D5D5D5;
}

#lien_mail {
    color: gray;
}

#lien_mail:hover {
    color: #1AD1F2;
}

#lien_tel {
    color: gray;
}

#lien_tel:hover {
    color: #1AD1F2;
}

#lien_adresse {
    color: gray;
}

#lien_adresse:hover {
    color: #1AD1F2;
}

footer {
    height: 1000px;
  }

.reseaux {
    color: gray;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.div_reseaux_contact {
    display: flex;
    gap: 20px;
}